.icon-style { 
  min-width: 30px;
  max-width: 45px;
  height: auto;
  color: var(--color-primary-alt);
  border-radius: 5px;
  opacity: 0.91;
  fill: var(--color-primary-alt);
  stroke: var(--color-primary-alt);
}

/*********************** 简介栏 ***********************/
.introduction-image {
  border-radius: 15px;
  opacity: 0.65;
}

.introduction-home-link {
  padding: 0.15rem 0.5rem;
  background: var(--color-accent);
  text-align: center;
  border-radius: 5px;
}

/* 
.introduction-img-link img {
  opacity: 0.7;
  border-radius: 15px;
}

.introduction-img-link {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.introduction-img-link::before {
  content: '';
  position: absolute;
  inset: 0rem;
  background-color: var(--color-accent);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.introduction-img-link:hover::before {
  opacity: 0.78;
} */

.introduction-content {
  color: var(--color-primary);
  text-align: center;
}

/*********************** 页脚 ***********************/

.footer-content {
  display: flex;
  width: 100%;
  height: 100%;

  /* display: flex;
  position: fixed;
  bottom: 0;
  left: 0; */

  color: var(--color-accent-alt);
  overflow-x: hidden;
  white-space: nowrap;
  justify-content: center;  /* 水平居中 */
  align-items: center;      /* 垂直居中 */
}

/*********************** 底部功能组件 ***********************/

.action-bar {
  margin: 0;
  padding: 1rem 0 3rem;
}

.action-bar ul{
  margin: 0;
  padding: 0;
}

.action-bar ul li{
  margin-right: 0;
  margin-left: 0;
  padding-top: 1rem;
  padding-right: 0;
  padding-left: 0;
  font-weight: bold;
  list-style-type: none;

  /* line-height: 1; */
}