
.home-title {
  padding: 0rem 0rem;

  /* background-color: rgb(80, 119, 146); */
}

.home-title p,
.home-title h3 {
  margin: 0;
  padding: 0;
}

.home-sub-title {
  padding: 0rem 2rem;
}

.home-content {
  /* padding-left: 0.5rem; */
  /* padding-right: 0.5rem; */
  padding: 1rem 2rem;
}


.home-content ul{
  margin: 0;
  padding: 0;
}

.home-content ul li{
  list-style-type: none;
  padding-top: 1.5rem;
  /* padding-bottom: 1rem; */
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
}

.home-content table {
  border-collapse: collapse;
  width: auto;
  table-layout: auto;
}

.home-content table th,
.home-content table td {
  border: none;
  padding-right: 1.5rem;
  font-weight: normal;
  white-space: nowrap;

  text-align: left;       /* 水平左对齐 */
  vertical-align: top;    /* 垂直顶对齐 */
}

.home-content table tr td:first-child,
.home-content table tr th:first-child {
  font-weight: bold;      /* 首列加粗 */
  /* color: rgba(239, 247, 223, 0.779) */
}


.home-bottom {
  padding: 0rem 0.5rem;
}

