.home-bar {
  padding: 0 0.5rem;
}

.home-sub-title {
  padding: 0 2rem;
}

.home-content {
  /* padding-left: 0.5rem; */

  /* padding-right: 0.5rem; */
  padding: 0 2rem;
}


.home-content ul{
  margin: 0;
  padding: 0;
}

.home-content ul li{
  margin-right: 0;
  margin-left: 0;
  padding-top: 1.5rem;
  padding-right: 0;

  /* padding-bottom: 1rem; */
  padding-left: 0;
  list-style-type: none;

  /* line-height: 1; */
}

.home-content table {
  width: auto;
  table-layout: auto;
  border-collapse: collapse;
}

.home-content table th,
.home-content table td {
  padding-right: 1.5rem;
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  border: none;
}

.home-content table tr td:first-child,
.home-content table tr th:first-child {
  font-weight: bold;

  /* color: rgba(239, 247, 223, 0.779) */
}


.home-bottom {
  padding: 0 0.5rem;
}

