
.post-title {
  padding: 0rem 0rem;
}

.post-attribute {
  padding: 0.5rem 0rem;
}

.post-attribute table {
  border-collapse: collapse;
  width: auto;
  table-layout: auto;
}

.post-attribute table th,
.post-attribute table td {
  border: none;
  padding-right: 1.5rem;
  font-weight: normal;
  white-space: nowrap;

  text-align: left;       /* 水平左对齐 */
  vertical-align: top;    /* 垂直顶对齐 */
}

.post-attribute table tr td:first-child,
.post-attribute table tr th:first-child {
  font-weight: bold;      /* 首列加粗 */
  color: var(--color-primary);
}

.post-attribute table tr td:not(:first-child),
.post-attribute table tr th:not(:first-child) {
  color: var(--color-accent-alt);
}

.post-content {
  padding: 1rem 0rem;
    word-wrap: break-word;
  overflow-x: hidden;
}

.post-content code {
  color: var(--color-accent-alt);
  background-color: var(--color-accent);
  border-radius: 2px;
  padding: 0rem 0.5rem;

  white-space: pre-wrap;
  word-wrap: break-word;
    /* overflow-wrap: break-word;
    overflow-x: hidden; */
}

.post-content pre {
  overflow-x: hidden;
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.post-content pre code {
  color: var(--color-accent-alt);
  background-color: unset;
  border-radius: 0px;
  padding: 0rem 0rem;
  white-space: pre-wrap;

}

.post-content blockquote {
  margin: 1em 0;
  padding: 0rem 1rem;
  /* border-left: 4px solid var(--color-accent); */
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--color-accent-alt);
  /* font-style: italic; */
  font-size: 0.875rem;
  border-radius: 5px;
  white-space: pre-wrap;
  /* overflow-wrap: break-word;
  overflow-x: hidden; */
}

.post-content a, 
.post-content a:visited, 
.post-content a:hover {
  text-decoration: none;
  color: var(--color-primary-alt);
}

.post-content img {
  margin: 1rem 0rem;
  opacity: 0.8;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  display: block;
}

.post-content del {
  color: var(--color-accent);
}

.post-content hr {
  border-color: var(--color-accent-alt);
}

.post-content ol {
  display: block;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: decimal;
}

.post-content ul {
  display: block;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* list-style-type: circle; */
}

.post-content li {
  display: list-item;
}

.post-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

.post-content th,
.post-content td {
  border: 1px solid var(--color-accent-alt);
  padding: 0.25rem 0.5rem;
  text-align: left;
}
