.icon-style {
  max-width: 45px; 
  min-width: 30px;
  height: auto;
  fill: var(--color-primary-alt);
  color: var(--color-primary-alt);
  stroke: var(--color-primary-alt);

  /* opacity: 0.8; */
  border-radius: 5px;
}

.introduction-img-link img {
  opacity: 0.7;
  border-radius: 15px;
}

.introduction-img-link {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.introduction-img-link::before {
  content: '';
  position: absolute;
  inset: 0rem;
  background-color: var(--color-accent);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.introduction-img-link:hover::before {
  opacity: 1;
}

.introduction-content {
  text-align: center;
  color: var(--color-primary);
}

.footer-content {
  color: var(--color-accent-alt)
}

.action-bar {
  margin: 0;
  padding: 0;
}

.action-bar ul{
  margin: 0;
  padding: 0;
}

.action-bar ul li{
  font-weight: bold;
  list-style-type: none;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
}