.timeline-bar {
  height: 90vh;
  display: flex;
  padding: 0 0.5rem;
  overflow: hidden auto;
  flex-direction: column;
}

.timeline-title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-accent-alt);
}

.timeline-content {
  position: relative;
  overflow-y: scroll;
  flex: 1 1 0%;
  -webkit-mask: linear-gradient(#000, #000);
  mask: linear-gradient(#000, #000);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}

.timeline-content::before {
  content: '';
  position: fixed; /* 保持 fixed */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: var(--color-accent-alt);
}

.timeline-posts {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1rem;
  /* font-weight: normal !important; */

}

.timeline-months {
  display: flex;
  flex-direction: column;
}

.timeline-years {
  width: calc(50% - 10px);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}

.timeline-years:not(:first-child) {
  margin-top: -1rem;
}

.timeline-years .title {
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  color: var(--color-accent-alt);

}

.timeline-years .title:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border: 5px solid var(--color-accent-alt);
  background-color: var(--color-accent);
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: -38px;
  z-index: 1000;
}

.timeline-years .title.big {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.timeline-years .title.big:before {
  width: 28px;
  height: 28px;
  transform: translate(6px, -50%);
}

.timeline-years:nth-child(2n) {
  text-align: left;
  float: right;
}

.timeline-years:nth-child(2n) .title:before {
  left: -38px;
}

.timeline-years:nth-child(2n) .title.big:before {
  transform: translate(-6px, -50%);
}