.fade-footer-enter-active, 
.fade-footer-leave-active {
  transition: opacity 0.2s ease;
  will-change: opacity;
}

.fade-comp-enter-active, 
.fade-comp-leave-active {
  transition: opacity 0.2s ease;
  will-change: opacity;
}

.fade-comp-enter-from, 
.fade-comp-leave-to {
  opacity: 0;
}

.fade-comp-enter-to, 
.fade-comp-leave-from {
  opacity: 1;
}

.fade-post-enter-active, .fade-post-leave-active {
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.fade-post-enter-from, .fade-post-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

.fade-post-enter-to, .fade-post-leave-from {
  opacity: 1;
  transform: translateY(0);
}