.archive-wrap {
  display: flex; 
  height: auto;
  padding: 0 0.5rem;
  overflow: visible;
  flex-direction: column;
  min-height: 90vh; 
}

/* 选页卡 */
.archive-pagination {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

/* 选页按钮 */
.page-button {
  height: 1.4rem;
  padding: 0.1rem 0.2rem;
  color: var(--color-accent-alt);
  background: var(--color-accent);
  text-align: center;
  transition: transform 0.3s ease, color 0.6s ease, background-color 0.6s ease;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.2rem;
  min-width: 1.4rem;
  border-radius: 3px;
}

.page-button:hover {
  transform: rotate(25deg);
}

.page-button.selected {
  color: var(--color-accent);
  background: var(--color-accent-alt);
}

.page-button.ellipsis {
  background: none;
  border-radius: 0;
  transition: none;
}

.page-button.ellipsis:hover {
  transform: none;
}

.page-svg-button {
  width: auto; 
  height: 1.4rem;
  color: var(--color-accent);
  transition: color 0.5s ease, opacity 0.5s ease;
  opacity: 0.8;
  fill: var(--color-accent);
  stroke: var(--color-accent);
}

.page-svg-button:hover {
  opacity: 1;
  fill: var(--color-accent-alt);
  color: var(--color-accent-alt);
  stroke: var(--color-accent-alt);
}

.archive-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; 
  overflow: visible;
}

.archive-container ul li{
  list-style-type: none;
}

.archive-container ul {
  flex: 1; 
  margin: 0;
  padding: 0;
  min-width: 0; 
}

.archive-container li {
  position: relative;
  padding: 0.2rem 0;
  border-left: none;
}

.archive-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.decor-line-wrapper {
  position: relative;
  width: 4px;
  margin-right: 12px;
  flex-shrink: 0;
}

.progress-line {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 2px;
  transform-origin: top; 
}

.dot {
  position: absolute;
  left: 50%;
  z-index: 2;
  width: 10px;
  height: 10px;
  background-color: var(--color-primary);
  border-radius: 50%;
  transform: translateX(-50%);
}

.dot.top {
  top: 0;
  margin-top: -5px;
}

.dot.bottom {
  bottom: 0;
  margin-bottom: -5px;
}

.post-link {
  min-width: 0;
  padding: 0.15rem 0.5rem;
  border-radius: 5px;
}

.post-tag {
  display: inline;
  user-select: none;
  padding: 0 0.2rem;
  text-decoration: none;
  line-height: 1.1rem;
  color: var(--color-accent-alt);
  white-space: nowrap;
  background-color: var(--color-accent);
  border-radius: 2px;
  transition: color 0.5s ease, background-color 0.5s ease;

}

.post-tag.selected {
  color: var(--color-accent);
  background-color: var(--color-accent-alt);
}

.post-tag-container {
  display: flex;
  flex-wrap: wrap; /* 允许子元素自动换行 */
  max-height: 7.5rem;
  overflow-y: auto;
  gap: 0.4rem; /* 标签之间的间距 */
}
