.social-link-icon { 
  min-width: 30px;
  max-width: 45px;
  height: auto;
  color: var(--color-primary-alt);
  border-radius: 5px;
  opacity: 0.91;
  fill: var(--color-primary-alt);
  stroke: var(--color-primary-alt);
  transition: 
    stroke 0.3s ease,
    fill 0.3s ease,
    color 0.3s ease;
}

.social-link-icon:hover {
  stroke: var(--color-accent-alt);
  fill: var(--color-accent-alt);
  color: var(--color-accent-alt);
}

/*********************** 简介栏 ***********************/

.introduction-image {
  border-radius: 15px;
  opacity: 0.65;
}

.home-link-button {
  display: inline-block;
  padding: 0.15rem 0;
  color: var(--color-accent-alt);
  background: var(--color-accent);
  text-align: center;
  transition: color 0.5s ease, background-color 0.5s ease;
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;
  will-change: color, background-color;
}

.home-link-button:hover {
  color: var(--color-accent);
  background: var(--color-accent-alt);
}

.introduction-content {
  color: var(--color-primary);
  text-align: center;
  transition: color 0.5s ease;
  will-change: color;
}

/*********************** 页脚 ***********************/

.footer-container {
  display: flex;
  width: 100%;
  height: 1.5rem;
  color: var(--color-accent-alt);
  overflow-x: hidden;
  white-space: nowrap;
  justify-content: left;  /* 水平居中 */
  align-items: center;      /* 垂直居中 */
  transition: color 0.5s ease;
  will-change: color;
}

/*********************** 底部功能组件 ***********************/

.nav-container {
  margin: 0;
  padding: 0;
}

.nav-container ul{
  margin: 0;
  padding: 0;
}

.nav-container ul li{
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 0.7rem;
  padding-right: 0;
  padding-left: 0;
  font-weight: bold;
  list-style-type: none;

  /* line-height: 1; */
}