@import url('@/assets/styles/home-page.css');
@import url('@/assets/styles/components.css');
@import url('@/assets/styles/archive-page.css');
@import url('@/assets/styles/post-page.css');
@import url('@/assets/styles/timeline-page.css');


:root {
  --color-bg: #142a31;
  --color-primary: #c0c7ca;
  --color-primary-alt: #496e7d;
  --color-accent: #9d4022;
  --color-accent-alt: #cfa789;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

html, body {
  overscroll-behavior: none; 
  height: 100%; 
}

body {
  background-color: var(--color-bg) !important;
  overflow-y: scroll !important;
  user-select: none;
  transition: background-color 0.7s ease;
}

body::before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='paper'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23paper)' opacity='0.44'/%3E%3C/svg%3E");
  mix-blend-mode: multiply;
  opacity: 0.9;
  pointer-events: none;
}

.ta-root-wrap {
  display: flex;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  opacity: 1;
}

.ta-root-container {
  color: var(--color-primary);
  font-size: 14px;
  flex: 1 1 0%;
}

.ta-root-container h1 {
  font-size: 1.8rem;
}

.ta-root-container h2 {
  font-size: 1.6rem;
}

.ta-root-container h3 {
  font-size: 1.4rem;
}

.ta-root-container h4 {
  font-size: 1.3rem;
}

.ta-root-container h5 {
  font-size: 1.2rem;
}

.ta-root-container h6 {
  font-size: 1.1rem;
}

.ta-root-container a:not(.default-style) {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0.15rem 0.5rem;
  color: var(--color-primary-alt);
  transition: color 0.5s ease;
  font-weight: bold;
  text-decoration: none;
}

.ta-root-container a:not(.default-style)::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--color-accent);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
  content: '';
}

.ta-root-container a:not(.default-style):hover {
  color: var(--color-accent-alt);
}

.ta-root-container a:not(.default-style):active {
  color: var(--color-primary);
}

.ta-root-container a:not(.default-style):hover::before {
  opacity: 0.91;
}

.footer-bar {
  width: 100%;
  height: 1.5rem;
  background-color: rgb(0 0 0 / 10%);
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.sticky-sidebar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  align-self: flex-start;
  max-height: 100vh;
  overflow-y: auto;
}

.split-line {
  /* height: 1rem; */
  margin: 1.5rem 0;
  padding: 0;
  border-color: var(--color-accent-alt);
  transform-origin: left center;
}

.router-elem-slide-fadein,
.router-elem-fade {
  backface-visibility: hidden; 
}

@media screen and (hover: none) and (pointer: coarse) {
  body::before {
    display: none;
  }

}
