.timeline-wrap {
  display: flex;
  min-height: 90vh;
  padding: 0 0.5rem;
  overflow: hidden auto;
  flex-direction: column;
}

.timeline-title {
  margin: 0;
  padding: 0;
  color: var(--color-accent-alt);
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.timeline-container {
  position: relative;
  overflow: hidden scroll;
  flex: 1 1 0%;
  overscroll-behavior: none;

  --mask: linear-gradient(to bottom, transparent, black 20px, black calc(100% - 20px), transparent);

  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.timeline-container::-webkit-scrollbar {
  display: none;
}


.timeline-inner {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

.timeline-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%; /* 这里的 100% = inner 的内容高度 */
  background-color: var(--color-accent-alt);
}

/* 
.timeline-container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: var(--color-accent-alt);
} */

.timeline-posts {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1rem;

  /* font-weight: normal !important; */

}

.timeline-months {
  display: flex;
  flex-direction: column;
}

.timeline-years {
  float: left;
  clear: both;
  width: calc(50% - 10px);
  padding: 20px;
  text-align: right;
}

.timeline-years:not(:first-child) {
  margin-top: -1rem;
}

.timeline-years .title {
  font-size: 1.3rem;
  font-size: clamp(1.1rem, 0.5vw + 1.1rem, 1.3rem);
  font-weight: bold;
  position: relative;
  color: var(--color-accent-alt);
  overflow-wrap: break-word;
}

.timeline-years .title::before {
  position: absolute;
  top: 50%;
  right: -38px;
  z-index: 1000;
  width: 16px;
  height: 16px;
  border: 5px solid var(--color-accent-alt);
  content: '';
  background-color: var(--color-accent);
  border-radius: 100%;
  transform: translateY(-50%);
}

.timeline-years .title.big {
  font-size: clamp(1.2rem, 1vw + 1.2rem, 2rem);
  margin-bottom: 0.5rem;
}

.timeline-years .title.big::before {
  width: 28px;
  height: 28px;
  transform: translate(6px, -50%);
}

.timeline-years:nth-child(2n) {
  float: right;
  text-align: left;
}

.timeline-years:nth-child(2n) .title::before {
  left: -38px;
}

.timeline-years:nth-child(2n) .title.big::before {
  transform: translate(-6px, -50%);
}